Body {
  font-family: Arial, Helvetica, sans-serif;
  
}


/* The <p> classes are redundant and likely will be removed. Remove these in favor of using BS methods of alignment rather than PX */
/* PXs could be chnaged to percent or rem to be more responsive */
p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
p.center {
  text-align: center;
}
p.indent {
  margin-left: 40px;
  margin-right: 40px;
}
td.center {
  text-align: center;
}
td.right {
  text-align: right;
}
li {
  margin: 10px;
}
li.indent {
  margin-right: 40px;
}
